<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeesManagementSys"
        tools:targetApi="31">
        <activity
            android:name=".EmployeeDashboard"
            android:exported="false" />

        <activity
            android:name=".UpdateEmployeeActivity"
            android:exported="false" />

        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false" />


        <activity
            android:name=".AddProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ForEmployeeMainActivity"
            android:exported="false" />

        <activity
            android:name=".ProjectEmployActivity"
            android:exported="false" />
        <activity
            android:name=".TaskEmployActivity"
            android:exported="false" />

        <activity
            android:name=".AddTaskActivity"
            android:exported="false" />


        <activity
            android:name=".UpdateProjectActivity"
            android:exported="false" />

        <activity android:name=".UpdateTaskActivity" />


        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetStarted_1"
            android:label="Get Started 1" />
        <activity
            android:name=".GetStarted_2"
            android:label="Get Started 2" />
        <activity
            android:name=".GetStarted_3"
            android:label="Get Started 3" />
        <activity
            android:name=".login"
            android:label="login" />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />

    </application>

</manifest>